@charset "UTF-8";
/* COLORES */
/* FUENTES */
/* FOOTER */
footer {
  background-color: #f8b4b8;
  padding: 20px;
  border-top: #7923269a solid 1px; }

.logofranui-footer {
  margin-right: 20px; }

.texto-footer {
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.438); }

/* HEADER */
.nav-position {
  margin-left: auto !important; }

.logito:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s; }

.header {
  position: sticky;
  top: 0px;
  background-color: #f8b4b8;
  z-index: 1;
  border-bottom: #7923269a solid 1px; }

.texto-nav {
  color: white;
  font-family: "Bebas Neue", cursive;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  margin: 10px; }
  .texto-nav:hover {
    color: #792326;
    transform: scale(1.1, 1.1);
    transition: all 0.8s;
    text-shadow: none; }

a:active {
  color: #e82f5b !important; }

a:focus {
  color: #e82f5b !important;
  text-shadow: none; }

/* EXTEND */
.productos-tamaño, .productos-franui, .producto-destacado {
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
  filter: saturate(150%); }

.titulos-atributos, .productos-texto, .galeria-titulo, .envios-texto, .texto-sobrenosotros {
  text-align: center;
  flex-wrap: wrap;
  text-decoration: none;
  font-size: 85px;
  text-shadow: 1px 2px 2px black; }

/* PRODUCTOS */
.animacion-franui:hover {
  transform: scale(1.03, 1.03);
  transition: all 0.5s; }

.contenedor-franui {
  padding: 0% !important; }

.productos-texto {
  font-family: "Bebas Neue", cursive;
  color: #792326;
  margin: 30px 0;
  font-size: 85px; }

.texto-productos {
  font-family: "Bebas Neue", cursive;
  font-size: 28px;
  color: #792326; }

.botoncito-fondo {
  background-color: white !important; }

.botoncito {
  background-color: #e82f5b;
  border: dimgray solid 1px;
  border-radius: 3px;
  padding: 8px;
  color: white;
  font-size: 15px; }

.botoncito:hover {
  transform: scale(1.05, 1.05); }

.card-margin {
  margin: 10px !important; }

/* GALERIA */
.galeria-titulo {
  font-family: "Bebas Neue", cursive;
  color: #792326;
  margin: 20px 0; }

.boton-galeria {
  font-family: "Bebas Neue", cursive;
  color: white;
  font-size: 23px;
  background-color: #792326;
  border: 1px solid dimgray;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  margin: 60px;
  filter: saturate(120%); }
  .boton-galeria:focus {
    color: #792326;
    background-color: none; }
  .boton-galeria:hover {
    transform: scale(1.03, 1.03); }

.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .galeria__fotos-2 {
    width: 350px;
    height: 350px;
    background-color: dimgray;
    margin: 40px;
    padding: 1px 1px 1px 1px;
    border-radius: 20px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
    filter: saturate(130%); }
  .galeria__fotos {
    width: 350px;
    height: 350px;
    background-color: dimgray;
    margin: 20px;
    padding: 1px 1px 1px 1px;
    border-radius: 20px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
    filter: saturate(130%); }
  .galeria__fotos:hover {
    transform: scale(1.05, 1.05);
    transition: all 1s; }
  .galeria__fotos-2:hover {
    transform: scale(1.05, 1.05);
    transition: all 1s; }

/* ENVIOS */
.envios-texto {
  font-family: "Bebas Neue", cursive;
  color: #792326;
  margin-top: 20px; }

.venta-arg {
  text-align: center;
  font-family: "Arima", cursive;
  font-weight: bold;
  font-size: 18px; }

.completar-font {
  font-size: 40px;
  font-family: "Bebas Neue", cursive !important;
  text-shadow: 1px 2px 2px black; }

.datos-enviar {
  margin-top: 15px; }

.size-envios {
  width: 600px; }

.formulario-envios {
  background-color: #ec1e4e;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 20px;
  border: dimgray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); }

.color-btn {
  font-family: "Bebas Neue", cursive;
  font-weight: bold;
  font-size: 22px;
  color: #792326 !important;
  background-color: white;
  border: 2px solid white !important; }

.color-btn:hover {
  transform: scale(1.01, 1.01) !important;
  background-color: white; }

.sucursal {
  margin-top: 60px;
  text-align: center;
  font-size: 28px;
  color: #792326;
  font-family: "Bebas Neue", cursive; }

.direccion {
  text-align: center;
  margin: 15px; }

/* SOBRE NOSOTROS */
.contenedor-video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }

.contenedor-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  filter: saturate(230%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.contenedor-video .container {
  position: relative;
  z-index: 2; }

.overlay-negro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1; }

.texto-sobrenosotros {
  font-family: "Bebas Neue", cursive;
  color: white;
  margin: 15px 0; }

.texto-sobrenosotros2 {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  font-size: 22px;
  text-shadow: 1px 2px 2px black; }

/* propositos */
.propositos {
  font-family: "Bebas Neue", cursive;
  color: #792326;
  font-size: 45px;
  margin: 60px 0;
  text-align: start;
  margin-left: 172px;
  text-shadow: 1px 2px 2px black; }

.textos-motivacion {
  font-family: "Arima", cursive;
  font-weight: bold;
  font-size: 15px; }

.textos-m-t {
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: #792326;
  text-align: center; }

* {
  margin: 0px;
  /* margen externo */
  padding: 0px;
  /* margen interno */ }

.fondo-gradiante {
  background-image: linear-gradient(to left, #f9edf5, #f8dfeb, #f9d0dd, #f9c2cc, #f8b4b8);
  background-size: 400%;
  animation: fanimado 5s infinite; }

@keyframes fanimado {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

.sombras {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.342); }

/* MARGIN-TOP-CLASE */
.margin-top {
  margin-top: 80px;
  box-shadow: 10px 10px 10px 14px rgba(0, 0, 0, 0.5);
  border: 2px solid white; }

/* BORDE DETALLISTA */
.border__linea {
  margin-top: 80px;
  border-top: solid rgba(105, 105, 105, 0.267) 1px;
  margin-left: 300px;
  margin-right: 300px; }

/* CARTAS-ATRIBUTOS*/
.cartas-envios {
  padding: 0px !important; }

.cartas-fondo {
  background-color: rgba(0, 255, 255, 0);
  border: none !important;
  width: 100px !important; }

.carta-border {
  border-left: solid #7923266e 1px !important;
  margin-top: 40px;
  margin-bottom: 40px; }

.carta-textos {
  font-family: "Bebas Neue", cursive;
  font-size: 22px;
  color: #792326; }

.carta-textos2 {
  font-family: "Arima", cursive;
  font-weight: bold;
  font-size: 15px; }

/* INICIO */
.portada {
  width: 100%;
  height: auto;
  filter: saturate(130%);
  border-bottom: #7923269a solid 2px;
  border-top: #7923269a solid 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.overlay-negro2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #e76166ab;
  opacity: 0.3;
  z-index: 1; }

.contenedor-img {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px; }
  .contenedor-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    filter: blur(5px);
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%); }

.contenedor-img .container {
  position: relative;
  z-index: 2; }

.quesonfranui {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 65px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 2px 2px black; }

.texto-portada {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  font-size: 22px;
  text-shadow: 1px 2px 2px black; }

/* sus 3 chocolates */
.flechita {
  background-color: #792326; }

.nuestros-chocolates {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  font-size: 53px;
  margin: 85px 0;
  text-align: end;
  margin-right: 172px;
  text-shadow: 1px 2px 2px black; }

.mt-carrusel {
  margin-top: 70px; }

.tamaño-carrusel {
  width: 100%;
  height: auto; }

.titulo-chocolate {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  font-size: 50px;
  text-shadow: 1px 1px  black; }

.texto-chocolate {
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.507); }

/* MODO DE USO */
.modo-uso {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  font-size: 53px;
  margin: 80px 0;
  text-align: start;
  margin-left: 172px;
  text-shadow: 1px 2px 2px black; }

.modo-uso-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .modo-uso-div .modo-uso__img {
    width: 300px;
    margin: 60px 20px;
    border: dimgray solid 1px;
    border-radius: 3px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
    filter: saturate(150%); }
    .modo-uso-div .modo-uso__img:hover {
      transform: scale(1.01, 1.01);
      transition: all 0.6s; }

/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  /* INDEX */
  .nuestros-chocolates {
    font-size: 40px;
    text-align: center;
    margin: 40px 0; }
  .modo-uso {
    text-align: center;
    font-size: 40px;
    padding-right: 85px; }
  .modo-uso-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .modo-uso-div .modo-uso__img {
      width: 250px;
      margin: 20px;
      border: dimgray solid 1px;
      border-radius: 3px;
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
      filter: saturate(150%); }
      .modo-uso-div .modo-uso__img:hover {
        transform: scale(1.01, 1.01);
        transition: all 0.6s; }
  .galeria {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
  .galeria__fotos {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .galeria__fotos-2 {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .about-us__textos {
    text-align: center;
    justify-items: center;
    width: auto;
    height: auto;
    margin: 0%; }
  .about-us {
    width: 300px;
    margin: auto; }
  .propositos {
    margin: 60px 0;
    text-align: center; } }

/* MEDIA QUERIE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .portada {
    flex-direction: column;
    height: auto;
    width: 100%; }
  .nuestros-chocolates {
    font-size: 53px;
    text-align: center;
    margin: 55px 0; }
  .modo-uso {
    text-align: center;
    margin: auto;
    padding-right: 0%; }
  .galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; }
  .galeria__fotos {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .galeria__fotos-2 {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .propositos {
    margin: 60px 0;
    text-align: center; }
  .modo-uso-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    .modo-uso-div .modo-uso__img {
      width: 250px;
      margin: 20px;
      border: dimgray solid 1px;
      border-radius: 3px;
      box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
      filter: saturate(150%); }
      .modo-uso-div .modo-uso__img:hover {
        transform: scale(1.01, 1.01);
        transition: all 0.6s; } }

/* MEDIAQUERIES BOOTSTRAP CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  .logofranui {
    width: 100px; }
  .contain-mq {
    margin-top: 15%;
    display: grid;
    justify-content: center; }
  .carta-border {
    border-bottom: solid #7923266e 1px !important;
    margin-top: 20px;
    margin-bottom: 20px; }
  .portada {
    width: 100%;
    height: 23vmax;
    box-shadow: none;
    border-top: none; }
  .quesonfranui {
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 40px; }
  .modo-uso {
    text-align: center;
    margin: auto;
    padding-right: 0%; }
  .productos__texto {
    font-size: 70px; }
  .galeria__texto {
    font-size: 70px; }
  .envios-texto {
    font-size: 70px; }
  .texto-sobrenosotros {
    font-size: 57px; }
  .formulario-envios {
    width: 280px;
    margin: auto;
    margin-bottom: 50px;
    border-style: solid; }
  .texto-nav:hover {
    color: #792326;
    transform: none;
    transition: none;
    text-shadow: none; } }

/* MEDIAQUERIES BOOTSTRAP TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .cartas-envios {
    padding: 15px !important; }
  .productos-tamaño, .productos-franui, .producto-destacado {
    width: 180px;
    height: 180px;
    margin: auto; }
  .texto-nav:hover {
    color: #792326;
    transform: none;
    transition: none;
    text-shadow: none; }
  .quesonfranui {
    font-size: 55px;
    padding: 20px; } }
