* {
    margin: 0px; /* margen externo */
    padding: 0px; /* margen interno */
}


h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
}
h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 60px;
    color: #792326;
}


/* ul {
    list-style: none;
    padding: 0 16px;
} */


/* HEADER */


.header__nav{
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    border-bottom: #7923269a solid 1px;
}

header{
    position: sticky;
    top: 0px;
    background-color: #f8b4b8;
    z-index: 1;
}

.header__list{
    display: flex;
    list-style: none;
    padding: 0 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: x-large;
    text-shadow: 1px 1px 2px black;

}

.header__list:hover{
    transform: scale(1.01, 1.01);
    transition: all 1s;
}


.header__item{
    display: inline;
    padding: 25px;
    font-family: 'Bebas Neue', cursive;
    border: #792326;
}

.header__item a{
    color: white;
    text-decoration: none;
}


.header__logo{
    display: flex;
    justify-content: center;
    height: 45px;
    padding: 10px;
    align-items: flex-start;
    margin-left: 30px;
    position: fixed;
}

.header__logo:hover{
    transform: scale(1.05, 1.05);
    transition: all 1s;
}

.border__linea{
    margin-top: 80px;
    border-top: solid rgba(105, 105, 105, 0.267) 1px;
    margin-left: 300px;
    margin-right: 300px;
    
}

/* INICIO */

.portada{
    width:  100%;
    height: 750px;
}

.iconsheader-contenedor{
    display: flex;
    justify-content: center;
}

.header__iconos{
    margin: 30px 30px;
    width: 40px;
    color: black;
}



.fondo-main{
    background-color: #fde2ad4d;
}

.contenedor-queson{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #e82f5a54;
    margin: 80px 180px;
    border: dimgray solid 1px;
    border-radius: 3px;
}


.quesonfranui{
    font-family: 'Bebas Neue', cursive;
    color: #792326;
    font-size: 40px;
    padding-top: 100px;
    text-align: end;
    margin-right: 100px;
    text-shadow: 1px 1px 2px black;
}

.queson__descripcion{
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-align: center;
    margin: 0 30px;
    flex-wrap: wrap;
    font-size: 30px;
    padding-top: 40px;
}


.quesonfranui__foto{
    width: 300px;
    margin-bottom: 50px;
    padding-top: 20px;
}


.modo-uso{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    color: #792326;
    margin-top: 30px;
    font-size: 40px;
    margin-top: 60px;
    text-align: start;
    margin-left: 100px;
    text-shadow: 1px 1px 2px black;
}

.modo-uso-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modo-uso__img{
    width: 300px;
    margin: 60px 20px;
    margin-left: 50px;
    border:dimgray solid 1px;
    border-radius: 3px;
}

.modo-uso__img:hover{
    transform: scale(1.01, 1.01);
}




/* PRODUCTOS */


.contenedor-productos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    margin: 60px;
}

.franui-leche{
    grid-column: 1/2;
    grid-row: 1/2;
}

.franui-semiamargo{
    grid-column: 2/3;
    grid-row: 1/2;
}

.franui-amargo{
    grid-column: 3/4;
    grid-row: 1/2;
}

.franui-leche:hover{
    background-color: white;
    transform: scale(1.01,1.01);
}

.franui-semiamargo:hover{
    background-color: white;
    transform: scale(1.01,1.01);
}

.franui-amargo:hover{
    background-color: white;
    transform: scale(1.01,1.01);
}

.productos__texto{
    color: #792326;
    margin: 30px 0;
    font-size: 85px;
    flex-wrap: wrap;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}


.cartas-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: dimgray solid 2px;
    border-radius: 5px;
    width: 500px;
    height: 500px;
}


.texto-producto{
    font-size: 30px;
    padding-bottom: 7px;
    font-family: 'Arima', cursive;
}


.productos-descripcion{
    font-size: 17px;
    text-align: center;
    margin: 5px 5px;
}


.productos__franui{ 
    width:  450px; /* ancho */
    height: 450px;
    margin: auto;
}

.producto__destacado{
    width: 450px;
    height: 430px;
    margin: auto;
    margin-top: 22px;
}


button{
    background-color: #e82f5b;
    border: dimgray solid 1px;
    border-radius: 3px;
    color: white;
    padding: 10px;
    font-size: 17px;
    margin-bottom: 87px;
}

button:hover{
    transform: scale(1.05,1);
}


/* ICONO FLOTANTE*/

.wsp{
    position: fixed;
    bottom: 5px;
    right: 8px;
    color: white;
    background-color: #f8b4b8;
    padding: 3px;
    border-radius: 7px;
}

.wsp__img{
    width: 50px;
    height: 50px;
}



/* GALERIA */

.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.galeria__fotos-2{
    width: 350px;
    height: 350px;
    background-color:dimgray;
    margin: 40px;
    padding: 1px 1px 1px 1px;
    border-radius: 20px;
}


.galeria__fotos{
    width: 350px;
    height: 350px;
    background-color:dimgray;
    margin: 20px;
    padding: 1px 1px 1px 1px;
    border-radius: 20px;
}

.galeria__fotos:hover{
    transform: scale(1.05, 1.05);
    transition: all 1s;
}
.galeria__fotos-2:hover{
    transform: scale(1.05, 1.05);
    transition: all 1s;

}

.galeria__texto{
    color: #792326;
    margin: 30px 0;
    font-size: 85px;
    flex-wrap: wrap;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.contenedorfranui{
    width: 500px;
    margin-bottom: 30px;
}

.tipo-franui{
    text-align: center;
} 


/* ENVIOS */

.envios-texto{
    color: #792326;
    margin: 30px 0;
    font-size: 85px;
    flex-wrap: wrap;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.venta-arg{
    text-align: center;
}

.formulario-envios{
    width: 400px;
    background-color: #efc5dd63;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    border: dimgray;
    border-style: solid;
    border-width: 1px;
}

.informacion__envios{
    padding: 20px;
    text-align: center;
    font-size: 19px;

}

.boton-envios{
    color: black;
    font-size: 17px;
    padding: 5px;    
}


.sucursal{
    text-align: center;
    font-size: 26px;
    color: #792326;
}

.direccion{
    text-align: right;
    margin: 15px;
}


/* SOBRE NOSOTROS */

.portada-sobrenosotros{
    width: 100%;
    height: 800px;
}


.texto-sobrenosotros{
    color: #792326;
    margin: 30px 0;
    font-size: 85px;
    flex-wrap: wrap;
    text-decoration: none;
    text-shadow: 1px 1px 2px black;
}

.about-us{
    background-color: #efc5dd63;
    width: 400px;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 20px;
    border: dimgray;
    border-style: solid;
    border-width: 1px;
    margin-top: 30px;
}

.aboutus__textos{
    padding: 20px;
    text-align: center;
    font-size: 19px;
}


.foto__descripcion{
    width: 500px;
    height: 500px;
    padding-left: 700px;
}


/* FOOTER */

footer{
    background-color: #f8b4b8 ;
    padding: 30px;
    border-top: #7923269a solid 1px;
}

.footer__redes{
    font-weight:lighter;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 3px;
    color: white;
    font-size: 23px;

}

.contenedor-iconos{
    display: flex;
    justify-content: center;
}

.footer__iconos{
    width: 36px;
    margin: 10px;
    padding-top: 20px;
}


.footer__derechos{
    font-weight:lighter;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: white;
    padding-top: 15px;
}


/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
    header{
        height: auto;
        position: relative;
    }
    .header__list{
        flex-direction: column;
        flex-grow: 0;
        align-items: center;
        font-size: 20px;
    }
    .header__nav{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        
    }
    .header__logo{
        height: 30px;
        margin-left: 30px;
        position: relative;
    }
    /* INDEX */
    .portada{
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .quesonfranui{
        text-align: center;
        font-size: 40px;
        padding-left: 90px;
    }
    .contenedor-queson{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
        margin: 0%;
    }

    .queson__descripcion{
        text-align: center;
        flex-wrap: wrap;
        font-size: 20px;

    }
    .quesonfranui__foto{
        width: 150px;
    }
    .modo-uso{
        text-align: center;
        font-size: 40px;
        padding-right: 85px;
    }
    
    .modo-uso__img{
        width: 50%;
    }
    

    /* PRODUCTOS */
    .contenedor-productos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        margin: 0%;
        justify-items: center;
        margin-bottom: 30px;
    }
    
    .franui-leche{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .franui-semiamargo{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .franui-amargo{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .cartas-productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 300px;
        height: 300px;
    }
    
    .texto-producto{
        font-size: 20px;
        font-family: 'Arima', cursive;
    }
    
    .productos-descripcion{
        font-size: 13px;
        text-align: center;
        margin: 5px 5px;
    }
    
    .productos__franui{ 
        width:  200px; /* ancho */
        height: 200px;
        margin: auto;
        padding-top: 20px;
    }
    
    .producto__destacado{
        padding-top: 40px;
        width: 200px;
        height: 200px;
        margin: auto;
    }
    button{
        color: white;
        font-size: 13px;
    }
    .galeria{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .galeria__fotos{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .galeria__fotos-2{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .formulario-envios{
        width: 300px;
        margin: auto;
        margin-bottom: 50px;
        border-style: solid;
    }
    .about-us__textos{
        text-align: center;
        justify-items: center;
        width: auto;
        height: auto;
        margin: 0%;
    }
    .about-us{
    width: 300px;
    margin: auto;
    }
}




/* MEDIA QUERIE TABLET */
@media (min-width: 576px) and (max-width:992px) {
    header{
        height: auto;
        position: relative;
    }
    .header__list{
        flex-direction:column;
        flex-grow: 0;
        align-items: center;
        font-size: 20px;
    }
    .header__nav{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        position: relative;
        
    }
    .header__logo{
        height: 40px;
        margin-left: 30px;
        position: fixed;
    }
    .portada{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .quesonfranui{
        text-align: center;
        font-size: 40px;
        padding-left: 90px;

    }
    .contenedor-queson{
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: left;
        flex-wrap: wrap;
        margin: 0%;
    }

    .queson__descripcion{
        text-align: center;
        margin-left: 70px;
        flex-wrap: wrap;
        font-size: 20px;
    }
    .quesonfranui__foto{
        width: 150px;
        margin-bottom: 50px;
        padding-top: 20px;
        margin-left: 70px;
    }
    .modo-uso{
        text-align: center;
        font-size: 40px;
        padding-right: 33px;
    }
    .modo-uso{
        text-align: center;
        font-size: 40px;
        padding-right: 85px;
    }
    .modo-uso__img{
        width: 50%;
    }
    
    .contenedor-productos{
        display: grid;
        grid-template-rows: 1fr;
        justify-items: center;
        margin: 0%;
    }
    .cartas-productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 150px;
        height: 300px;
        margin-bottom: 30px;
    }
    .texto-producto{
        font-size: 18px;
        font-family: 'Arima', cursive;
    }
    
    .productos-descripcion{
        font-size: 13px;
        text-align: center;
        margin: 5px 5px;
    }
    
    .productos__franui{ 
        width:  150px;
        height: 130px;
        margin: auto;
        padding-top: 20px;
    }
    
    .producto__destacado{
        padding-top: 40px;
        width: 150px;
        height: 130px;
        margin: auto;
    }
    button{
        color: white;
        font-size: 10px;
    }
    .galeria{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items:center;
    }
    .galeria__fotos{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .galeria__fotos-2{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .formulario-envios{
        width: 300px;
        margin: auto;
        margin-bottom: 50px;
        border-style: solid;
    }
}