@charset "UTF-8";
* {
  margin: 0px;
  /* margen externo */
  padding: 0px;
  /* margen interno */ }

.fondo-gradiante {
  background-image: linear-gradient(to left, #f9edf5, #f8dfeb, #f9d0dd, #f9c2cc, #f8b4b8);
  background-size: 400%;
  animation: fanimado 5s infinite; }

@keyframes fanimado {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

/* HEADER */
.nav-position {
  margin-left: auto !important; }

.logito:hover {
  transform: scale(1.05, 1.05);
  transition: all 0.5s; }

.header {
  position: sticky;
  top: 0px;
  background-color: #f8b4b8;
  z-index: 1;
  border-bottom: #7923269a solid 1px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.233); }

.texto-nav {
  color: white;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
  margin: 10px; }

.texto-nav:hover {
  color: #792326;
  transform: scale(1.1, 1.1);
  transition: all 0.8s;
  text-shadow: none; }

a:active {
  color: #e82f5b !important; }

a:focus {
  color: #e82f5b !important;
  text-shadow: none; }

.border__linea {
  margin-top: 80px;
  border-top: solid rgba(105, 105, 105, 0.267) 1px;
  margin-left: 300px;
  margin-right: 300px; }

/* CARTAS-ATRIBUTOS*/
.cartas-envios {
  padding: 0px !important; }

.cartas-fondo {
  background-color: rgba(0, 255, 255, 0);
  border: none !important;
  width: 100px !important; }

.carta-border {
  border-left: solid #7923266e 1px !important;
  margin-top: 40px;
  margin-bottom: 40px; }

.carta-textos {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  color: #792326; }

.carta-textos2 {
  font-family: 'Arima', cursive;
  font-weight: bold;
  font-size: 15px; }

/* INICIO */
.portada {
  width: 100%;
  height: auto;
  filter: saturate(150%);
  border-bottom: #7923269a solid 2px;
  border-top: #7923269a solid 2px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  cursor: pointer; }

.margin-top {
  margin-top: 80px;
  box-shadow: 10px 10px 10px 14px rgba(0, 0, 0, 0.5);
  border: 2px solid white; }

.overlay-negro2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1; }

.contenedor-img {
  position: relative;
  background-color: black;
  min-height: 25vh;
  width: 100%;
  overflow: hidden;
  margin-top: 20px; }

.contenedor-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  filter: saturate(150%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.contenedor-img .container {
  position: relative;
  z-index: 2; }

.quesonfranui {
  font-family: 'Bebas Neue', cursive;
  color: white;
  font-size: 45px;
  font-weight: 500;
  text-align: end;
  margin-right: 100px;
  text-shadow: 1px 2px 2px black; }

.texto-portada {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 22px;
  text-shadow: 2px 2px 2px black; }

/* sus 3 chocolates */
.nuestros-chocolates {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  font-size: 65px;
  margin: 85px 0;
  text-align: center;
  text-shadow: 1px 2px 2px black; }

.mt-carrusel {
  margin-top: 70px; }

.tamaño-carrusel {
  width: 100%;
  height: auto; }

.titulo-chocolate {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  font-size: 50px;
  text-shadow: 1px 1px  black; }

.texto-chocolate {
  font-family: 'Bebas Neue', cursive;
  color: black;
  font-size: 20px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.507); }

/* modo de uso */
.modo-uso {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  margin-top: 30px;
  font-size: 45px;
  margin-top: 60px;
  text-align: start;
  margin-left: 172px;
  text-shadow: 1px 2px 2px black; }

.modo-uso-div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.modo-uso__img {
  width: 300px;
  margin: 60px 20px;
  margin-left: 50px;
  border: dimgray solid 1px;
  border-radius: 3px;
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.5);
  filter: saturate(150%); }

.modo-uso__img:hover {
  transform: scale(1.01, 1.01);
  transition: all 0.6s; }

/* PRODUCTOS */
.animacion-franui:hover {
  transform: scale(1.03, 1.03);
  transition: all 0.5s; }

.contenedor-franui {
  padding: 0% !important; }

.productos__texto {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #792326;
  margin: 30px 0;
  font-size: 85px;
  flex-wrap: wrap;
  text-decoration: none;
  text-shadow: 1px 2px 2px black; }

.texto-productos {
  font-family: 'Bebas Neue', cursive;
  font-size: 28px;
  color: #792326; }

.productos-descripcion {
  font-size: 17px;
  text-align: center;
  margin: 5px 5px; }

.productos__franui {
  width: 250px;
  /* ancho */
  height: 250px;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
  filter: saturate(150%); }

.producto__destacado {
  width: 250px;
  height: 250px;
  margin: auto;
  padding: 10px;
  padding-top: 20px;
  filter: saturate(150%); }

.botoncito-fondo {
  background-color: white !important; }

.botoncito {
  background-color: #e82f5b;
  border: dimgray solid 1px;
  border-radius: 3px;
  padding: 8px;
  color: white;
  font-size: 15px; }

.botoncito:hover {
  transform: scale(1.05, 1.05); }

.card-margin {
  margin: 10px !important; }

/* GALERIA */
.galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }

.galeria__fotos-2 {
  width: 350px;
  height: 350px;
  background-color: dimgray;
  margin: 40px;
  padding: 1px 1px 1px 1px;
  border-radius: 20px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  filter: saturate(130%); }

.galeria__fotos {
  width: 350px;
  height: 350px;
  background-color: dimgray;
  margin: 20px;
  padding: 1px 1px 1px 1px;
  border-radius: 20px;
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
  filter: saturate(130%); }

.galeria__fotos:hover {
  transform: scale(1.05, 1.05);
  transition: all 1s; }

.galeria__fotos-2:hover {
  transform: scale(1.05, 1.05);
  transition: all 1s; }

.galeria__texto {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #792326;
  margin: 20px 0;
  font-size: 85px;
  flex-wrap: wrap;
  text-decoration: none;
  text-shadow: 1px 2px 2px black; }

.contenedorfranui {
  width: 500px;
  margin-bottom: 30px; }

.tipo-franui {
  text-align: center; }

.boton-galeria {
  font-family: 'Arima', cursive;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background-color: #e82f5b;
  border: 1px solid dimgray;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5);
  margin-bottom: 45px; }

.boton-galeria:hover {
  transform: scale(1.03, 1.03);
  background-color: #e82f5b;
  color: white; }

.sombras {
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.342); }

/* ENVIOS */
.envios-texto {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: #792326;
  margin: 30px 0;
  font-size: 85px;
  flex-wrap: wrap;
  text-decoration: none;
  text-shadow: 1px 2px 2px black; }

.venta-arg {
  text-align: center;
  font-family: 'Arima', cursive;
  font-weight: bold;
  font-size: 18px; }

.completar-font {
  font-size: 40px;
  font-family: 'Bebas Neue', cursive !important;
  text-shadow: 1px 2px 2px black; }

.size-envios {
  width: 600px; }

.formulario-envios {
  background-color: #ec1e4e;
  margin: auto;
  margin-bottom: 40px;
  border-radius: 20px;
  border: dimgray;
  border-style: solid;
  border-width: 1px;
  box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.5); }

.color-btn {
  font-size: 20px;
  color: black !important;
  background-color: white;
  border: 2px solid white !important; }

.color-btn:hover {
  transform: scale(1.01, 1.01) !important;
  transition: all 0.5s;
  background-color: white; }

.sucursal {
  margin-top: 60px;
  text-align: center;
  font-size: 28px;
  color: #792326;
  font-family: 'Bebas Neue', cursive; }

.direccion {
  text-align: right;
  margin: 15px; }

/* SOBRE NOSOTROS */
.contenedor-video {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden; }

.contenedor-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  filter: saturate(180%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.contenedor-video .container {
  position: relative;
  z-index: 2; }

.overlay-negro {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.3;
  z-index: 1; }

.texto-sobrenosotros {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  color: white;
  margin: 15px 0;
  font-size: 85px;
  flex-wrap: wrap;
  text-decoration: none;
  text-shadow: 1px 2px 2px black; }

.texto-sobrenosotros2 {
  font-family: 'Handlee', cursive;
  text-align: center;
  color: white;
  font-size: 22px;
  text-shadow: 1px 2px 2px black; }

/* propositos */
.propositos {
  font-family: 'Bebas Neue', cursive;
  color: #792326;
  font-size: 45px;
  margin: 60px 0;
  text-align: start;
  margin-left: 172px;
  text-shadow: 1px 2px 2px black; }

.textos-motivacion {
  font-family: 'Arima', cursive;
  font-weight: bold;
  font-size: 15px; }

.textos-m-t {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  color: #792326; }

/* FOOTER */
footer {
  background-color: #f8b4b8;
  padding: 20px;
  border-top: #7923269a solid 1px; }

.logofranui-footer {
  margin-right: 20px; }

/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  header {
    height: auto;
    position: relative; }
  .header__list {
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    font-size: 20px; }
  .header__nav {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative; }
  .header__logo {
    height: 30px;
    margin-left: 30px;
    position: relative; }
  /* INDEX */
  .portada {
    flex-direction: column;
    height: auto;
    width: 100%; }
  .quesonfranui {
    text-align: center;
    font-size: 40px;
    padding-left: 90px; }
  .contenedor-queson {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin: 0%; }
  .queson__descripcion {
    text-align: center;
    flex-wrap: wrap;
    font-size: 20px; }
  .quesonfranui__foto {
    width: 150px; }
  .modo-uso {
    text-align: center;
    font-size: 40px;
    padding-right: 85px; }
  .modo-uso__img {
    width: 50%; }
  /* PRODUCTOS */
  .cartas-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
    height: 300px; }
  .texto-producto {
    font-size: 20px;
    font-family: 'Arima', cursive; }
  .productos-descripcion {
    font-size: 13px;
    text-align: center;
    margin: 5px 5px; }
  .productos__franui {
    width: 200px;
    /* ancho */
    height: 200px;
    margin: auto;
    padding-top: 20px; }
  .producto__destacado {
    width: 200px;
    height: 200px;
    margin: auto; }
  button {
    color: white;
    font-size: 13px; }
  .galeria {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center; }
  .galeria__fotos {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .galeria__fotos-2 {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .formulario-envios {
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
    border-style: solid; }
  .about-us__textos {
    text-align: center;
    justify-items: center;
    width: auto;
    height: auto;
    margin: 0%; }
  .about-us {
    width: 300px;
    margin: auto; }
  .propositos {
    margin: 60px 0;
    text-align: center; } }

/* MEDIA QUERIE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  header {
    height: auto;
    position: relative; }
  .header__list {
    flex-direction: column;
    flex-grow: 0;
    align-items: center;
    font-size: 20px; }
  .header__nav {
    flex-direction: column;
    justify-content: center;
    width: 100%;
    position: relative; }
  .header__logo {
    height: 40px;
    margin-left: 30px;
    position: fixed; }
  .portada {
    flex-direction: column;
    height: auto;
    width: 100%; }
  .quesonfranui {
    text-align: center;
    font-size: 40px;
    padding-left: 90px; }
  .contenedor-queson {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
    margin: 0%; }
  .queson__descripcion {
    text-align: center;
    margin-left: 70px;
    flex-wrap: wrap;
    font-size: 20px; }
  .quesonfranui__foto {
    width: 150px;
    margin-bottom: 50px;
    padding-top: 20px;
    margin-left: 70px; }
  .modo-uso {
    text-align: center;
    font-size: 40px;
    padding-right: 33px; }
  .modo-uso {
    text-align: center;
    font-size: 40px;
    padding-right: 85px; }
  .modo-uso__img {
    width: 50%; }
  .contenedor-productos {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    margin: 0%; }
  .cartas-productos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    height: 300px;
    margin-bottom: 30px; }
  .texto-producto {
    font-size: 18px;
    font-family: 'Arima', cursive; }
  .productos-descripcion {
    font-size: 13px;
    text-align: center;
    margin: 5px 5px; }
  .productos__franui {
    width: 150px;
    height: 130px;
    margin: auto;
    padding-top: 20px; }
  .producto__destacado {
    width: 150px;
    height: 130px;
    margin: auto; }
  button {
    color: white;
    font-size: 10px; }
  .galeria {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center; }
  .galeria__fotos {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .galeria__fotos-2 {
    width: 200px;
    height: 200px;
    margin: 20px 0; }
  .formulario-envios {
    margin: auto;
    margin-bottom: 50px;
    border-style: solid; }
  .propositos {
    margin: 60px 0;
    text-align: center; } }

/* MEDIAQUERIES BOOTSTRAP CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
  .logofranui {
    width: 100px; }
  .contain-mq {
    margin-top: 15%;
    display: grid;
    justify-content: center; }
  .carta-border {
    border-bottom: solid #7923266e 1px !important;
    margin-top: 20px;
    margin-bottom: 20px; }
  .portada {
    display: none; }
  .quesonfranui {
    text-align: center;
    margin: auto;
    padding-left: 0%;
    padding-bottom: 30px; }
  .modo-uso {
    text-align: center;
    margin: auto;
    padding-right: 0%; }
  .productos__texto {
    font-size: 70px; }
  .galeria__texto {
    font-size: 70px; }
  .envios-texto {
    font-size: 70px; }
  .texto-sobrenosotros {
    margin-top: 80px;
    font-size: 70px; }
  .formulario-envios {
    width: 280px;
    margin: auto;
    margin-bottom: 50px;
    border-style: solid; }
  .texto-nav:hover {
    color: #792326;
    transform: none;
    transition: none;
    text-shadow: none; } }

/* MEDIAQUERIES BOOTSTRAP TABLET */
@media (min-width: 576px) and (max-width: 992px) {
  .cartas-envios {
    padding: 15px !important; }
  .texto-nav:hover {
    color: #792326;
    transform: none;
    transition: none;
    text-shadow: none; } }
