/* GALERIA */

.galeria-titulo{
    font-family: $font-titulos;
    color: $color-titulos;
    margin: 20px 0;
    @extend .titulos-atributos;
}
.boton-galeria{
    font-family: $font-titulos;
    color: white;
    font-size: 20px;
    background-color: $color-titulos;
    border:1px solid dimgray;
    box-shadow:  10px 10px 25px rgba(0,0,0,0.5);
    margin-bottom: 45px;
    &:focus{
    color: $color-titulos;
    background-color: none;
    }
    &:hover{
        transform: scale(1.03,1.03);
    }
}



.galeria{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__fotos-2{
        width: 350px;
        height: 350px;
        background-color:dimgray;
        margin: 40px;
        padding: 1px 1px 1px 1px;
        border-radius: 20px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.5);
        filter: saturate(130%);
    }
    
    &__fotos{
        width: 350px;
        height: 350px;
        background-color:dimgray;
        margin: 20px;
        padding: 1px 1px 1px 1px;
        border-radius: 20px;
        box-shadow: 1px 10px 15px rgba(0,0,0,0.5);
        filter: saturate(130%);
    }
    
    &__fotos:hover{
        transform: scale(1.05, 1.05);
        transition: all 1s;
    }
    
    &__fotos-2:hover{
        transform: scale(1.05, 1.05);
        transition: all 1s;
    }
    
}