/* MEDIA QUERIE CELULAR*/
@media (min-width: 320px) and (max-width: 575px) {
    /* INDEX */
    .modo-uso{
        text-align: center;
        font-size: 40px;
        padding-right: 85px;
    }
    .modo-uso__img{
        width: 50%;
    }
    .galeria{
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
    }
    .galeria__fotos{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .galeria__fotos-2{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .about-us__textos{
        text-align: center;
        justify-items: center;
        width: auto;
        height: auto;
        margin: 0%;
    }
    .about-us{
    width: 300px;
    margin: auto;
    }
    .propositos{
    margin: 60px 0;
    text-align: center;
    }
}




/* MEDIA QUERIE TABLET */
@media (min-width: 576px) and (max-width:992px) {
    .portada{
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .modo-uso{
        text-align: center;
        font-size: 40px;
        padding-right: 33px;
    }
    .modo-uso{
        text-align: center;
        font-size: 40px;
        padding-right: 85px;
    }
    .modo-uso__img{
        width: 50%;
    }
    .galeria{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items:center;
    }
    .galeria__fotos{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .galeria__fotos-2{
        width: 200px;
        height: 200px;
        margin: 20px 0;
    }
    .propositos{
        margin: 60px 0;
        text-align: center;
    }
}


/* MEDIAQUERIES BOOTSTRAP CELULAR*/

@media (min-width: 320px) and (max-width:575px){
    .logofranui{
        width: 100px;
    }
    .contain-mq{
        margin-top: 15%;
        display: grid;
        justify-content: center;
    }
    .carta-border{
        border-bottom: solid #7923266e 1px !important;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .portada{
        display: none;
    }
    .quesonfranui{
        text-align: center;
        margin: auto;
        padding-left: 0%;
        padding-bottom: 30px;
    }
    .modo-uso{
        text-align: center;
        margin: auto;
        padding-right: 0%;
    }
    .productos__texto{
        font-size: 70px;
    }
    .galeria__texto{
        font-size: 70px;
    }
    .envios-texto{
        font-size: 70px;
    }
    .texto-sobrenosotros{
        font-size: 57px;
    }
    .formulario-envios{
        width: 280px;
        margin: auto;
        margin-bottom: 50px;
        border-style: solid;
    }
    .texto-nav:hover{
        color: #792326;
        transform: none;
        transition: none;
        text-shadow: none;
    }
}
/* MEDIAQUERIES BOOTSTRAP TABLET */
@media (min-width: 576px)and (max-width:992px){
    .cartas-envios{
        padding: 15px !important;
    }
    .texto-nav:hover{
        color: #792326;
        transform: none;
        transition: none;
        text-shadow: none;
    }
}