@import "variables";
@import "footer";
@import "header";
@import "operators";
@import "productos";
@import "galeria";
@import "envios";
@import "sobrenosotros";

* {
    margin: 0px; /* margen externo */
    padding: 0px; /* margen interno */
}


.fondo-gradiante{
    background-image: linear-gradient(to left, #f9edf5, #f8dfeb, #f9d0dd, #f9c2cc, #f8b4b8);
    background-size: 400%;
    animation: fanimado 5s infinite;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
.sombras{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.342);
}

/* MARGIN-TOP-CLASE */
.margin-top{
    margin-top: 80px;
    box-shadow: 10px 10px 10px 14px rgba(0,0,0,0.5);
    border:2px solid white;
}

/* BORDE DETALLISTA */

.border__linea{
    margin-top: 80px;
    border-top: solid rgba(105, 105, 105, 0.267) 1px;
    margin-left: 300px;
    margin-right: 300px;
}



/* CARTAS-ATRIBUTOS*/

.cartas-envios{
    padding: 0px !important;
}

.cartas-fondo{
    background-color: rgba(0, 255, 255, 0);
    border: none !important;
    width: 100px !important;
}
.carta-border{
    border-left: solid #7923266e 1px !important;
    margin-top: 40px;
    margin-bottom: 40px;
}

.carta-textos{
    font-family: $font-titulos;
    font-size: 22px;
    color: $color-titulos;
}
.carta-textos2{
    font-family: $font-secundaria;
    font-weight: bold;
    font-size: 15px;
}





/* INICIO */

.portada{
    width: 100%;
    height: auto;
    filter: saturate(130%);
    border-bottom: #7923269a solid 2px;
    border-top: #7923269a solid 2px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    cursor:pointer;
}

.overlay-negro2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #e76166ab;
    opacity: 0.3;
    z-index: 1;
}
.contenedor-img{
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-top: 20px;
    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: 0;
        filter: blur(5px);
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}

.contenedor-img .container{
    position: relative;
    z-index: 2;
}

.quesonfranui{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 65px;
    font-weight:500;
    text-align: center;
    text-shadow: 1px 2px 2px black;
}
.texto-portada{
    font-family: 'Handlee', cursive;
    text-align: center;
    color: white;
    font-size: 22px;
    text-shadow: 1px 2px 2px black;
}


/* sus 3 chocolates */

.flechita{
    background-color: #792326;
}


.nuestros-chocolates{
    font-family: 'Bebas Neue', cursive;
    color: $color-titulos;
    font-size: 53px;
    margin:85px 0;
    text-align: end;
    margin-right: 172px;
    text-shadow: 1px 2px 2px black;
}

.mt-carrusel{
    margin-top: 70px;
}
.tamaño-carrusel{
    width: 100%;
    height: auto;

}
.titulo-chocolate{
    font-family: 'Bebas Neue', cursive;
    color: $color-titulos;
    font-size: 50px;
    text-shadow: 1px 1px  black;

}
.texto-chocolate{
    font-family: 'Bebas Neue', cursive;
    color:black;
    font-size: 20px;
    text-shadow: 1px 1px  rgba(0, 0, 0, 0.507);
}



/* MODO DE USO */
.modo-uso{
    font-family: 'Bebas Neue', cursive;
    color: $color-titulos;
    font-size: 53px;
    margin:80px 0;
    text-align: start;
    margin-left: 172px;
    text-shadow: 1px 2px 2px black;
}
.modo-uso-div{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    .modo-uso__img{
        width: 300px;
        margin: 35px 20px;
        border:dimgray solid 1px;
        border-radius: 3px;
        box-shadow: 8px 8px 8px rgba(0,0,0,0.5);
        filter: saturate(150%);
        &:hover{
            transform: scale(1.01, 1.01);
            transition: all 0.6s;
        }
    }
}


@import "mediaqueries";

